.slider-item {
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 50%;
	height: 40vh;
	border: 1px solid black;
}
button#previous {
	position: absolute;
	top: 20%;
	left: 10%;
}
button#next {
	position: absolute;
	top: 20%;
	right: 10%;
}
